In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
movies = pd.read_csv('/Users/dikshantthapa/Desktop/FLIXPICKS/Data/movies.csv')
credits_ = pd.read_csv('/Users/dikshantthapa/Desktop/FLIXPICKS/Data/credits.csv')
ratings = pd.read_csv('/Users/dikshantthapa/Desktop/FLIXPICKS/Data/ratings.csv')

In [3]:
ratings.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [4]:
credits_.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [5]:
ratings.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [6]:
print(movies.shape)
print(ratings.shape)
print(credits_.shape)

(62423, 3)
(25000095, 4)
(4803, 4)

In [7]:
x= ratings['userId'].value_counts()>200

In [8]:
x

72315      True
80974      True
137293     True
33844      True
20055      True
          ...
12094     False
119539    False
156759    False
12084     False
36207     False
Name: userId, Length: 162541, dtype: bool

In [9]:
x.shape

(162541,)

In [10]:
y = x[x].index

In [11]:
y

Int64Index([ 72315,  80974, 137293,  33844,  20055, 109731,  92046,  49403,
             30879, 115102,
            ...
             92476, 101711, 106680, 106790,  96099, 156456, 115756,   6761,
             68693, 145404],
           dtype='int64', length=32848)

In [12]:
ratings = ratings[ratings['userId'].isin(y)]

In [13]:
ratings.shape

(16063558, 4)

In [14]:
ratings_with_filter = ratings.merge(movies , on='movieId')

In [15]:
ratings_with_filter

,userId,movieId,rating,timestamp,title,genres
0,3,1,4.0,1439472215,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,4,1,3.0,1573944252,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,12,1,4.0,1167582601,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
3,13,1,4.0,1265223970,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
4,43,1,4.0,1170491388,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
...,...,...,...,...,...,...
16063553,162358,200192,2.0,1553453039,Den frusna leoparden (1986),(no genres listed)
16063554,162358,200194,2.0,1553453843,Tough Luck (2004),Action|Adventure|Thriller
16063555,162386,139970,3.5,1549215965,I Don't Speak English (1995),Comedy
16063556,162386,200726,4.0,1554651417,The Graduates (1995),Children|Drama
16063557,162386,200728,4.0,1554651472,Il pesce innamorato (1999),(no genres listed)

In [16]:
num_ratings = ratings_with_filter.groupby('title')['rating'].count().reset_index()

In [17]:
num_ratings

                                                   title  rating
0      "BLOW THE NIGHT!" Let's Spend the Night Togeth...       1
1                       "Great Performances" Cats (1998)      70
2                             #1 Cheerleader Camp (2010)       8
3                                       #Captured (2017)       2
4                                #Female Pleasure (2018)       2
...                                                  ...     ...
58335             …And the Fifth Horseman Is Fear (1965)       2
58336                                        キサラギ (2007)       2
58337                                     チェブラーシカ (2010)       9
58338                                        貞子3D (2012)      10
58339                                        줄탁동시 (2012)       1

[58340 rows x 2 columns]

In [18]:
num_ratings.rename(columns={'rating':'num_rating'},inplace=True)

In [19]:
final_rating = ratings_with_filter.merge(num_ratings, on='title')

In [20]:
final_rating = final_rating[final_rating['num_rating']>100]

In [21]:
final_rating

,userId,movieId,rating,timestamp,title,genres,num_rating
0,3,1,4.0,1439472215,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,22843
1,4,1,3.0,1573944252,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,22843
2,12,1,4.0,1167582601,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,22843
3,13,1,4.0,1265223970,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,22843
4,43,1,4.0,1170491388,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,22843
...,...,...,...,...,...,...,...
15903935,157631,118202,5.0,1550456365,Cowspiracy: The Sustainability Secret (2014),Adventure|Comedy|Documentary|Mystery,132
15903936,157975,118202,3.5,1541083734,Cowspiracy: The Sustainability Secret (2014),Adventure|Comedy|Documentary|Mystery,132
15903937,160141,118202,4.0,1560049232,Cowspiracy: The Sustainability Secret (2014),Adventure|Comedy|Documentary|Mystery,132
15903938,162047,118202,4.0,1459091570,Cowspiracy: The Sustainability Secret (2014),Adventure|Comedy|Documentary|Mystery,132
15903939,162067,118202,3.0,1538953454,Cowspiracy: The Sustainability Secret (2014),Adventure|Comedy|Documentary|Mystery,132

In [22]:
final_rating.shape

(15512836, 7)

In [23]:
final_rating.drop_duplicates(['title','userId'],inplace=True)

In [24]:
final_rating.shape

(15512298, 7)

##CF

In [25]:
movie_pivot = final_rating.pivot_table(columns='userId' , index='title' , values='rating')

In [26]:
movie_pivot

userId,3,4,12,13,19,23,31,38,43,57,...,162507,162508,162512,162516,162519,162521,162524,162529,162533,162534
title,,,,,,,,,,,,,,,,,,,,,
'71 (2014),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
'Round Midnight (1986),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2.5,NaN,NaN,NaN,NaN,NaN,NaN
'Til There Was You (1997),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"'burbs, The (1989)",NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
'night Mother (1986),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
xXx (2002),3.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.5,...,NaN,NaN,4.0,2.5,NaN,NaN,NaN,NaN,NaN,NaN
xXx: Return of Xander Cage (2017),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
xXx: State of the Union (2005),NaN,NaN,NaN,0.5,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
¡Three Amigos! (1986),NaN,NaN,3.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN
À nous la liberté (Freedom for Us) (1931),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
movie_pivot.fillna(0 , inplace=True)

In [28]:
movie_pivot

userId,3,4,12,13,19,23,31,38,43,57,...,162507,162508,162512,162516,162519,162521,162524,162529,162533,162534
title,,,,,,,,,,,,,,,,,,,,,
'71 (2014),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'Round Midnight (1986),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2.5,0.0,0.0,0.0,0.0,0.0,0.0
'Til There Was You (1997),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"'burbs, The (1989)",0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'night Mother (1986),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
xXx (2002),3.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.5,...,0.0,0.0,4.0,2.5,0.0,0.0,0.0,0.0,0.0,0.0
xXx: Return of Xander Cage (2017),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
xXx: State of the Union (2005),0.0,0.0,0.0,0.5,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
¡Three Amigos! (1986),0.0,0.0,3.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0
À nous la liberté (Freedom for Us) (1931),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [29]:
from scipy.sparse import csr_matrix

In [30]:
movie_sparse = csr_matrix(movie_pivot)

In [31]:
from sklearn.neighbors import NearestNeighbors
model = NearestNeighbors(algorithm = 'brute')

In [32]:
model.fit(movie_sparse)

NearestNeighbors(algorithm='brute')

In [33]:
distance , suggestion = model.kneighbors(movie_pivot.iloc[200,:].values.reshape(1,-1),n_neighbors=8)

In [34]:
distance

array([[  0.        , 110.11925354, 110.37549547, 110.80839318,
        110.85576214, 111.10018002, 111.1249297 , 111.13167865]])

In [35]:
suggestion

array([[ 200, 2770, 1459, 1085, 8287, 2697, 5308, 6388]])

In [36]:
for i in range(len(suggestion)):
    print(movie_pivot.index[suggestion[i]])

Index(['Accidental Tourist, The (1988)', 'Everybody's All-American (1988)',
       'California Suite (1978)', 'Black Widow (1987)', 'Swing Shift (1984)',
       'Enemies: A Love Story (1989)', 'Main Event, The (1979)',
       'Owl and the Pussycat, The (1970)'],
      dtype='object', name='title')

In [43]:
movie_name = movie_pivot.index

In [37]:
movie_pivot.index

Index([''71 (2014)', ''Round Midnight (1986)', ''Til There Was You (1997)',
       ''burbs, The (1989)', ''night Mother (1986)',
       '(500) Days of Summer (2009)', '*batteries not included (1987)',
       '...And Justice for All (1979)', '10 (1979)',
       '10 Cloverfield Lane (2016)',
       ...
       '[REC]² (2009)', '[REC]³ 3 Génesis (2012)', 'eXistenZ (1999)',
       'iBoy (2017)', 'loudQUIETloud: A Film About the Pixies (2006)',
       'xXx (2002)', 'xXx: Return of Xander Cage (2017)',
       'xXx: State of the Union (2005)', '¡Three Amigos! (1986)',
       'À nous la liberté (Freedom for Us) (1931)'],
      dtype='object', name='title', length=9785)

In [45]:
import pickle
pickle.dump(model , open('/Users/dikshantthapa/Desktop/FLIXPICKS/Notebook/model.pkl','wb'))
pickle.dump(movie_name , open('/Users/dikshantthapa/Desktop/FLIXPICKS/Notebook/movie_name.pkl','wb'))
pickle.dump(final_rating , open('/Users/dikshantthapa/Desktop/FLIXPICKS/Notebook/final_ratings.pkl','wb'))
pickle.dump(movie_pivot , open('/Users/dikshantthapa/Desktop/FLIXPICKS/Notebook/movie_pivot.pkl','wb'))

In [38]:
from sklearn.metrics.pairwise import cosine_similarity

In [39]:
similarity_scores = cosine_similarity(movie_sparse)

In [41]:
similarity_scores

array([[1.00000000e+00, 4.25995767e-02, 7.73402516e-04, ...,
        4.23238898e-02, 3.27802239e-02, 3.22149599e-02],
       [4.25995767e-02, 1.00000000e+00, 2.26054822e-02, ...,
        2.44904930e-02, 5.00051847e-02, 1.16403250e-01],
       [7.73402516e-04, 2.26054822e-02, 1.00000000e+00, ...,
        2.28102831e-02, 7.39609054e-02, 1.49871402e-02],
       ...,
       [4.23238898e-02, 2.44904930e-02, 2.28102831e-02, ...,
        1.00000000e+00, 7.75116584e-02, 9.88961554e-03],
       [3.27802239e-02, 5.00051847e-02, 7.39609054e-02, ...,
        7.75116584e-02, 1.00000000e+00, 4.90782669e-02],
       [3.22149599e-02, 1.16403250e-01, 1.49871402e-02, ...,
        9.88961554e-03, 4.90782669e-02, 1.00000000e+00]])

In [54]:
movie_id = np.where(movie_pivot.index == "¡Three Amigos! (1986)")[0][0]

In [55]:
def recommend_movie(movie_name):
    movie_id = np.where(movie_pivot.index == movie_name)[0][0]
    distance , suggestion = model.kneighbors(movie_pivot.iloc[movie_id,:].values.reshape(1,-1),n_neighbors=8)

    for i in range(len(suggestion)):
        movie = movie_pivot.index[suggestion[i]]
        for j in movie:
            print(j)

In [56]:
recommend_movie("¡Three Amigos! (1986)")

¡Three Amigos! (1986)
Fletch Lives (1989)
Funny Farm (1988)
European Vacation (aka National Lampoon's European Vacation) (1985)
Money Pit, The (1986)
Gung Ho (1986)
Armed and Dangerous (1986)
Soul Man (1986)